* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.body {
    height: auto;
}

/* --------------------------------------------------bara de navigare----universal---------------------------------------*/
.header {
    background-color: #333;
    position: relative;
    top: 0;
    width: 100%;
    height: 5.5rem;
}

.logo {
    display: inline-block;
    color: rgb(218, 212, 212);
    font-size: 50px;
    margin-left: 2rem;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #333;
    overflow: hidden;
    z-index: 99;
}

.menu a {
    display: block;
    padding: 30px;
    color: rgb(218, 212, 212);
    font-size: 250%;
    margin-top: 5rem;
}

.menu a:hover {
    background-color: grey;
}

.nav {
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
    background: white;
    display: block;
    height: 3px;
    position: relative;
    width: 30px;

}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before {
    top: 5px;
}

.hamb-line::after {
    top: -5px;
}

.side-menu {
    display: none;
}

/* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

.body-d {
    background-color: #ce99e3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 62rem;
}

.container-d {
    background-color: #ebebe0;
    border-radius: 5px;
    width: 38rem;
    max-width: 100%;
    box-shadow: 0 2px 5px #333;
    margin-top: 2rem;

}

.container-d h2 {
    color: #7ed321;
}

.header-d {
    background-color: #ebebe0;
    border-bottom: 2px solid #f0f0f0;
    padding: 20px 40px;
}

.header-d h2 {
    margin: 0;
    text-align: center;
    color: #7ed321;
    font-size: 2.5rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px dotted #333;

}

.form-d {
    padding: 30px 40px;
    position: relative;
}


.account {
    position: relative;
    margin-bottom: 2rem;
}

.account input[type="text"] {
    width: 12rem;
    height: 3rem;
    margin-left: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 120%;
}

.account input[type="email"] {
    width: 26.8rem;
    height: 3rem;
    margin-left: 2.5rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 120%;
}

.cause {
    position: relative;
}

.cause input {
    width: 12rem;
    height: 3rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 110%;
}

.cause select {
    width: 12rem;
    height: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 110%;
}

.t-dob {
    display: flex;
}

.t-dob h2 {
    margin-right: 9rem;
}

.form-dob {
    position: relative;
    display: flex;
}

.form-dob input[type="text"] {
    width: 4rem;
    height: 3rem;
    font-size: 120%;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

#finput {
    margin-left: 2.5rem;
}

.form-dob input[type="radio"] {
    margin-left: 4rem;
    margin-top: 2rem;
}

.form-dob label[for="var1"] {
    margin-left: 0.5rem;
    margin-top: 1.7rem;
}

.form-dob label[for="var2"] {
    margin-left: 0.5rem;
    margin-top: 1.7rem;
}

.details {
    position: relative;
}

.details #cn {
    width: 27rem;
    height: 3rem;
    margin-top: 1rem;
    text-align: center;
    margin-left: 2rem;
    font-size: 110%;
}

.details #cvc {
    width: 12rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: center;
    font-size: 110%;
}

.details #mm {
    width: 3rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.details #yyyy {
    width: 4rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.form-d button {
    margin-top: 2rem;
    text-align: center;
    margin-left: 12rem;
    width: 7rem;
    height: 2rem;
    background-color: #7ed321;
    color: #ffffff;
    font-size: 120%;

}


/* pentru bara de navigare   --- chestie universala pentru toate html urile*/

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }

    .nav_list {
        position: absolute;
        right: 0px;
        height: 35rem;
        top: 5rem;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
        z-index: 2;
    }

    img#primapasari {
        z-index: 1;
    }

    .nav_list li {
        opacity: 0;
    }

    .meniu {
        display: block;
    }

    .footer {
        height: 24rem;
    }

}


@media screen and (max-width: 800px) {
    .container-d {
        width: 28rem;
        margin-bottom: 10rem;
    }

    .account input[type="email"] {
        width: 20rem;
        height: 3rem;
        margin-left: 2.5rem;
        margin-top: 1rem;
        text-align: center;
        font-size: 140%;
    }

    .cause select {
        width: 12rem;
        height: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 0.8rem;
        font-size: 90%;
        margin-left: 2.5rem
    }

    .details #cn {
        width: 20rem;
        height: 3rem;
        margin-top: 1rem;
        text-align: center;
        margin-left: 2rem;
        font-size: 110%;
    }

    .details #cvc {
        width: 10rem;
        height: 3rem;
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: center;
        font-size: 110%;
    }

    .details #mm {
        width: 3rem;
        height: 2rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .details #yyyy {
        width: 4rem;
        height: 2rem;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    .form-d button {
        margin-top: 2rem;
        text-align: center;
        margin-left: 8rem;
        width: 7rem;
        height: 2rem;
        background-color: #7ed321;
        color: #ffffff;
        font-size: 120%;
    }

    .t-dob h2 {
        margin-right: 11rem;
        font-size: 140%;
    }

    .form-dob input[type="text"] {
        width: 3rem;
        height: 3rem;
        font-size: 100%;
        margin-top: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    #finput {
        margin-left: 2.5rem;
    }


}

@media screen and (max-width: 600px) {
    .container-d {
        width: 21rem;
    }

    .account input[type="email"] {
        width: 9rem;
        height: 2.5rem;
        margin-left: 2.5rem;
        margin-top: 1rem;
        text-align: center;
        font-size: 140%;
    }

    .details #cn {
        width: 9rem;
        height: 2.5rem;
        margin-top: 1rem;
        text-align: center;
        margin-left: 2rem;
        font-size: 110%;
    }

    .details #cvc {
        width: 4rem;
        height: 2.5rem;
        margin-top: 1rem;
        margin-left: 2rem;
        text-align: center;
        font-size: 110%;
    }

    .account input[type="text"] {
        width: 9rem;
        height: 2.5rem;
        margin-left: 2.5rem;
        text-align: center;
        margin-top: 1rem;
        font-size: 120%;
    }

    .cause input {
        width: 9rem;
        height: 3rem;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        text-align: center;
        font-size: 110%;
    }

    .cause select {
        width: 9rem;
        height: 2.5rem;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 1.5rem;
        font-size: 110%;
    }

    .form-d button {
        margin-top: 2rem;
        text-align: center;
        margin-left: 4.5rem;
        width: 7rem;
        height: 2rem;
        background-color: #7ed321;
        color: #ffffff;
        font-size: 120%;

    }

    .header a {
        font-size: 250%;
    }

}

@media screen and (max-width: 422px) {

    .container-d {
        width: 17rem;;
    }


    .account input[type="email"] {
        margin-left: 1.5rem;
        font-size: 80%;
    }

    .details #cn {
        margin-left: 1.5rem;
        font-size: 80%;
    }

    .details #cvc {
        margin-left: 1.5rem;
    }

    .account input[type="text"] {
        margin-left: 1.5rem;
    }

    .form-d button {
        margin-left: 2.5rem;
        font-size: 120%;
    }

    .cause input {
        margin-left: 1.5rem;
    }

    .cause select {
        margin-left: 1.5rem;
        font-size: 80%;
    }

    .header a {
        font-size: 260%;
    }

    .details #cvc {
        width: 3rem;
        height: 2.5rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
        text-align: center;
        font-size: 110%;
    }

    .details #mm {
        width: 3rem;
        height: 2rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }

    .details #yyyy {
        width: 4rem;
        height: 2rem;
        margin-top: 1rem;
        margin-left: 1.5rem;
    }
}


/* Responsiveness */
@media (min-width: 900px) {
    .nav {
        max-height: none;
        top: 0;
        position: sticky;
        float: right;
        width: fit-content;
    }

    .menu li {
        float: left;
        top: 0;
    }

    .menu a {
        margin-top: -1.2rem;
    }

    .menu a:hover {
        background-color: transparent;
        color: grey;
    }

    .hamb {
        display: none;
    }
}