* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    /* le aliniaza da le pune si niste spatiu gen inainte intre si dupa*/
    align-items: center;
    min-height: 5.4rem;
    background-color:  #333;
    font-family: 'Palette Mosaic', cursive;
}

.logo {
    color: rgb(218, 212, 212);
    letter-spacing: 7px;
    font-size: 100%;
}

.logo a{
    text-decoration: none;
    font-size: 180%;
    color: #ffffff;
}

.nav_list {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav_list li {
    list-style: none;
}

.nav_list a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 3px;
}

.meniu {
    display: none;
    /* sa nu se vada in mod normal*/
    cursor: pointer;
}


/* aici fac meniul ala cu 3 linii ce arata ca un burger*/

.meniu div {
    background-color: #ffffff;
    width: 25px;
    height: 3px;
    margin: 5px;
}

/*-----------------------Imaginile principale------------------------*/

/* am setat ca toate imaginile sa aibe aceeasi dimensiune*/

img {
    vertical-align: middle;
    width: 30px;
    height: 570px;
   
}
  

.container{
    position: relative;
}

.slide{
    display: none;
}


.slide-divs{
    display: flex;
}

.slide-div{
    display: flex;
}

.slide_color1{
    background-color: #2468a5;
}

.slide_color2{
    background-color: #65a051;
}

.slide_color3{
    background-color:#e57b2c ; 
}


/* Next si prev -- butoanele */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 26px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* cand dai cu mouseul peste adaugam o culoare de background sa se vada frumos*/
.prev:hover,
.next:hover {
  background-color: rgba(46, 44, 44, 0.8);
}

.row:after {
    content: "";
    display: none;
    clear: both;
  }


  /* 5 coloane una langa alta */
  .column {
    float: left;
    width: 50%;
    display: none;
  }

  #first-img{
      display: block;
  }

  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

/*------------------Sfarsit imagini-----------------------------*/

/* ------------------Bara cu informatii-------------------------*/

.bar-2{
    display: flex;
    height: 6rem;
    width: auto;
    background-color: rgb(226, 189, 41);
    margin-top: 0;
}

.infos{
    display: flex;
    font-size: 180%;
    margin-left: 30rem;
    font-family: 'Palette Mosaic', cursive;
    color: rgb(12, 69, 12);
    margin-top: 1rem;
}

/*-------------------------------pentru chestiile din visit us--------------------------------------*/

.msg-visit{
    text-align: center;
    color: #333;
    font-size: 170%;
    display: flex;
    margin-left: 25rem;
}

.body-v{
    background-color: #e57b2c;
}


.formular{
    display: table;
   
}

div{
    display: table-row;
}

.bar{
    display: table-cell;
    margin-left: 35rem;
    width: 6rem;
    height: 2rem;
    margin-top: 2rem;
    margin-left: 30rem;
    
}

.fname label{
    font-size: 140%;
    margin-right: 3rem;
}



.lname label{
    font-size: 140%;
    margin-right: 3rem;
}


.activity label{
    font-size: 140%;
    margin-right: 3rem;
}

.date label{
    font-size: 140%;
    margin-right: 3rem;
}

.number label{
    font-size: 140%;
    margin-right: 3rem;
}

.hour label{
    font-size: 140%;
    margin-right: 3rem;
}


.help label{
    font-size: 140%;
    margin-right: 3rem;
}

/* pentru a mari spatiul dintre iteme cand micsorez fereastra*/

@media screen and (max-width: 1200px) {
    .nav_list {
        width: 63%;
    }
}


/* cand fereastra ajunge la o anumita marime se vor petrecere urmatoarele*/

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .nav_list {
        position: absolute;
        right: 0px;
        height: 35rem;
        top: 6rem;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }
    .nav_list li {
        opacity: 0;
    }
    .meniu {
        display: block;
    }
}

.nav_list-active {
    transform: translateX(0%);
}

@keyframes navlistFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}