* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    /* le aliniaza da le pune si niste spatiu gen inainte intre si dupa*/
    align-items: center;
    min-height: 5rem;
    background-color:  #333;
    font-family: 'Palette Mosaic', cursive;
}

.logo {
    color: rgb(218, 212, 212);
    letter-spacing: 7px;
    font-size: 100%;
}

.logo a{
    text-decoration: none;
    font-size: 200%;
    color: #ffffff;
}

.nav_list {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav_list li {
    list-style: none;
}

.nav_list a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 130%;
}

.nav_list select{
    width: 7rem;
    height: 2rem;
    font-family: 'Palette Mosaic', cursive;
    font-size: 120%;
}

.meniu {
    display: none;
    /* sa nu se vada in mod normal*/
    cursor: pointer;
}


/* aici fac meniul ala cu 3 linii ce arata ca un burger*/

.meniu div {
    background-color: #ffffff;
    width: 25px;
    height: 3px;
    margin: 5px;
}

/*-----------------------Imaginile principale------------------------*/

/* am setat ca toate imaginile sa aibe aceeasi dimensiune*/

img {
    vertical-align: middle;
    width: 30px;
    height: 570px;
   
}
  

.container{
    position: relative;
}

.slide{
    display: none;
}


.slide-divs{
    display: flex;
}

.slide-div{
    display: flex;
}

.slide_color1{
    background-color: #2468a5;
}

.slide_color2{
    background-color: #65a051;
    text-align: left;
}

.slide_color3{
    background-color:#e57b2c ; 
}


/* Next si prev -- butoanele */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 26px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* cand dai cu mouseul peste adaugam o culoare de background sa se vada frumos*/
.prev:hover,
.next:hover {
  background-color: rgba(46, 44, 44, 0.8);
}

  #first-img{
      display: block;
  }

  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .slide_color1 h1{
    color:#f7f7f7;
    font-size: 450%;
    margin-left: 6rem;
    margin-top: 4rem;
    font-family: 'Palette Mosaic', cursive;
    margin-bottom: 3rem;

}

.slide_color1 h2{
    color:#f7f7f7;
    font-size: 200%;
    margin-left: 6rem;
    font-family: 'Palette Mosaic', cursive;
    margin-bottom: 4rem;
}

.slide_color2 h1{
    color:#333;
    font-size: 800%;
    margin-left: 6rem;
    margin-top: 4rem;
    font-family: 'Palette Mosaic', cursive;

}

.slide_color3 h1{
    color:#333;
    font-size: 400%;
    margin-left: 6rem;
    margin-top: 4rem;
    font-family: 'Palette Mosaic', cursive;

}

.slide_color3 h2{
    color:#333;
    font-size: 200%;
    margin-left: 6rem;
    margin-top: 4rem;
    font-family: 'Palette Mosaic', cursive;
    margin-bottom: 3rem;

}

.slide_color2 h2{
    color:#333;
    font-size: 300%;
    margin-left: 6rem;
    font-family: 'Palette Mosaic', cursive;
    margin-bottom: 4rem;
}

.btn-color{
    margin-top: 4rem;
}

.btn-color1 a{
    text-decoration: none;
    font-size: 160%;
    border: 3px solid #f7f7f7;
    border-radius: 10px;
    margin-left: 6rem;
    background-color: #A56124;
    font-family: 'Palette Mosaic', cursive;
    height: 3rem;
    color: #f7f7f7;
}

.btn-color2 a{
    text-decoration: none;
    font-size: 160%;
    border: 3px solid #f7f7f7;
    border-radius: 10px;
    margin-left: 6rem;
    background-color: #8e44ad;
    font-family: 'Palette Mosaic', cursive;
    height: 3rem;
    color: #f7f7f7;

}

.btn-color3 a{
    text-decoration: none;
    font-size: 160%;
    border: 3px solid #333;
    border-width: 4px;
    border-radius: 10px;
    margin-left: 6rem;
    background-color: #2C96E5;
    font-family: 'Palette Mosaic', cursive;
    height: 3rem;
    color: #f7f7f7;
    
}

.btn-color a:hover{
    background-color: #ca7f46;
}

/*------------------Sfarsit imagini-----------------------------*/

/* ------------------Bara cu informatii-------------------------*/

.bar-2{
    display: flex;
    height: 6rem;
    width: auto;
    background-color: rgb(226, 161, 41);
    margin-top: 0;
}

.infos{
    display: flex;
    font-size: 170%;
    margin-left: 33rem;
    font-family: 'Palette Mosaic', cursive;
    color: rgb(12, 69, 12);
    margin-top: 1rem;
}

.sign-up{
    margin-top: 4rem;
    font-size: 110%;
    
}

.footer{
    height: 15rem;
    background-color: #333;
}



.signmsg h2{
    color: #e57b2c;
    font-size: 330%;
    margin-left: 12rem;
}

.signmsg h4{
    color: #ffffff;
    font-size: 130%;
    margin-left: 12rem;
    margin-top: 2rem;
}

.signup{
    height: 2.5rem;
    width: 6rem;
    border-color: #333;
    background-color: #e57b2c;
    border: 3px solid #f7f7f7;
    margin-left: 12rem;
    margin-top: 2rem;
    border-radius: 10px;
}


.signup a{
    font-size: 160%;
    text-decoration: none;
    text-align: center;
    color:#ffffff
}

/*-------------------------------pentru chestiile din visit us--------------------------------------*/

.body-v{
    background-color: #9b59b6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 57rem;

}

.container-v{
    background-color: #ffffff;
    border-radius: 5px;
    width: 38rem;
    max-width: 100%;
    box-shadow: 0 2px 5px #333;
    margin-top: 2rem;
}

.header-v{
    background-color: #f7f7f7;
    border-bottom: 2px solid #f0f0f0;
    padding: 20px 40px;
}

.header-v h2{
    margin: 0;
    text-align: center;
}

.form-v{
    padding: 30px 40px;
}

.form-control-v{
    margin-bottom: 5px;
    padding-bottom: 20px;
    position: relative;
}

.form-control-v label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 120%;
}

.form-control-v input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control-v select{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-v button{
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
}

/*--------------------------------------------Pentru chestiile din signup---------------------------------*/

.body-s{
    background-color: #2468a5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 42rem;

}


.sign h4{
    margin-top: 3rem;
    font-size: 130%;
}

.signin button{
    margin-top: 2rem;
    background-color: #0d7dee;
    border: 2px solid #8e44ad;
    border-radius: 15px;
    color: #fff;
    font-size: 1rem;
    padding: 10px;
}

.signin a{
    text-decoration: none;
}



/* -------------------------------------------animals------------------------------------------*/
.animals img{
    width: 96rem;
    height: 33rem;
}

.info-bar{
    height: 9rem;
    background-color: #7a5b05;
    
}

.info-bar h3{
    font-size: 270%;
    text-align: center;
    font-family: 'Palette Mosaic', cursive;
}

.anim-list{
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin-top: 1.7rem;
    margin-left: 27rem;
}

.info-bar li{
    list-style: none;
    margin-right: 4rem;
}

.info-bar a{
    font-size: 2rem;
    color: #261e1e;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 10px; 
    font-family: 'Palette Mosaic', cursive;
}

.info-bar a:hover{
    background-color: rgb(222, 187, 81);
}

/* ----------------------------------------------------------------------------------------------*/


/*--------------------------------------------DONATE--------------------------------------------*/

.body-d{
    background-color: #ce99e3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 62rem;
}

.container-d{
    background-color: #ebebe0;
    border-radius: 5px;
    width: 38rem;
    max-width: 100%;
    box-shadow: 0 2px 5px #333;
    margin-top: 2rem;
    
}

.container-d h2{
    color: #7ed321;
}

.header-d{
    background-color: #ebebe0;
    border-bottom: 2px solid #f0f0f0;
    padding: 20px 40px;
}

.header-d h2{
    margin: 0;
    text-align: center;
    color: #7ed321;
    font-size: 2.5rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px dotted #333;

}

.form-d{
    padding: 30px 40px;
    position: relative;
}


.account {
    position: relative;
    margin-bottom: 2rem;
}

.account input[type="name"]{
    width: 12rem;
    height: 3rem;
    margin-left: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    font-size: 120%;
}

.account input[type="email"]{
    width: 26.8rem;
    height: 3rem;
    margin-left: 2.5rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 120%;
}

.cause{
    position:relative;
}

.cause input{
    width: 12rem;
    height: 3rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 110%;
}

.cause select{
    width: 12rem;
    height: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 110%;
}

.t-dob{
    display:flex;
}

.t-dob h2{
    margin-right: 9rem;
}

.form-dob{
    position: relative;
    display: flex;
}

.form-dob input[type="text"]{
    width: 4rem;
    height: 3rem;
    font-size: 120%;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

.form-dob input[type="radio"]{
   margin-left: 4rem;
   margin-top: 2rem;
}

.form-dob label[for="var1"]{
    margin-left: 0.5rem;
    margin-top: 1.7rem;
}

.form-dob label[for="var2"]{
    margin-left: 0.5rem;
    margin-top: 1.7rem;
}

.details{
    position: relative;
}

.details #cn{
    width: 27rem;
    height: 3rem;
    margin-top: 1rem;
    text-align: center;
    margin-left: 2rem;
    font-size: 110%;
}

.details #cvc{
    width: 12rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: center;
    font-size: 110%;
}

.details #mm{
    width: 3rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.details #yyyy{
    width: 4rem;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.form-d button{
    margin-top: 2rem;
    text-align: center;
    margin-left: 12rem;
    width:7rem;
    height: 2rem;
    background-color: #7ed321;
    color:#ffffff;
    font-size: 120%;

}


/*------------------------------------------------------------------------------------------------*/
/* pentru a mari spatiul dintre iteme cand micsorez fereastra*/

@media screen and (max-width: 1200px) {
    .nav_list {
        width: 63%;
    }
}


/* cand fereastra ajunge la o anumita marime se vor petrecere urmatoarele*/

@media screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    .nav_list {
        position: absolute;
        right: 0px;
        height: 35rem;
        top: 6rem;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }
    .nav_list li {
        opacity: 0;
    }
    .meniu {
        display: block;
    }
}

.nav_list-active {
    transform: translateX(0%);
}

@keyframes navlistFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}